@font-face {
  font-family: "Inter bold";
  src: url("../fonts/Inter-Bold-new.woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Inter regular";
  src: url("../fonts/Inter-Regular-new.woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Inter medium";
  src: url("../fonts/Inter-Medium-new.woff2");
  font-weight: 500;
}
h3 {
  font-weight: 600;
  color: #000;
}

p {
  font-weight: 500;
  color: #000;
  font-size: 14px;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: calc(60% + 0.8vmin);
}

body {
  font-family: Proxima Nova;
  margin: 0px;
}

.custom-scrollbar::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

body.modal-overflow {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: inherit;
}

ul,
ol {
  /* list-style-type: none; */
  padding: 0;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
}

nav ul {
  list-style: none;
}

a {
  color: rgb(11, 11, 240);
  cursor: pointer;
  text-decoration: none;
}

label {
  font-weight: normal;
  padding-bottom: 10px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table td,
.table th {
  vertical-align: middle;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  margin: 0;
  font-weight: bold;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  text-transform: none;
  border: none;
  cursor: pointer;
}

img,
video {
  max-width: 100%;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f8fafd;
}

.header-wapper-container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.cryto-value-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px #eff2f5 solid;
}

.crypto-value-detailed {
  width: 81%;
  padding: 1%;
}

.crypto-value-detailed ul li {
  display: inline-block;
  margin: 0 5px;
}

.crypto-value-detailed ul li span {
  font-size: 12px;
  color: #58667e;
  font-weight: 600;
}

.crypto-value-detailed ul li a {
  font-size: 12px;
}

.language-currency {
  width: 17%;
  padding: 1%;
}

.language-currency ul {
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: space-between;
}

.language-currency ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  font-weight: 600;
  color: #171924;
  padding: 5px 3px;
}

.language-currency ul li img {
  width: 15px;
  margin: 0 3px;
}

.language-currency ul li i {
  margin: 0 5px;
}

.language-currency ul li:hover {
  background-color: #eee;
  border-radius: 5px;
}

.crypto-list-cont-diff {
  display: flex;
  width: 60%;
  align-items: center;
  padding: 0.5%;
}

.crypto-list-cont-diff ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.crypto-list-cont-diff ul li {
  margin: 0 10px;
  list-style-type: none;
  font-family: "Inter regular";
}

.crypto-list-cont-diff ul li a:hover {
  color: #3861fb;
}

.crypto-list-cont-diff ul li a {
  color: #000;
  font-size: 14px;
}

.crypto-profile {
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.crypto-profile img:last-of-type {
  width: 30px;
  height: 30px;
}

.crypto-profile input {
  height: 40px;
  padding: 1%;
  border-color: transparent;
  background-color: #eff2f5;
  border-radius: 5px;
  outline: transparent;
}

.crypto-profile input::-moz-placeholder {
  color: #a6b0c3;
  font-weight: 600;
  margin-left: 20px;
}

.crypto-profile input:-ms-input-placeholder {
  color: #a6b0c3;
  font-weight: 600;
  margin-left: 20px;
}

.crypto-profile input::placeholder {
  color: #a6b0c3;
  font-weight: 600;
  margin-left: 20px;
}

.general-crypto-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eff2f5;
}

.cry-vts {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #a6b0c3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 27px;
}

.cry-vts p {
  color: #fff;
  font-weight: 800;
  transform: translate(0, -0.5rem);
}

.cards-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.card {
  min-width: 20rem;
  margin: 1%;
  position: relative;
}

.card a img {
  width: 100%;
  border-radius: 5px;
}

.card a {
  display: block;
}

.youtube-play {
  width: 68px;
  height: 48px;
  background-color: rgba(234, 57, 67, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 110px;
  cursor: pointer;
}

.youtube-play:hover {
  background-color: rgba(234, 57, 67, 0.9);
}

.youtube-play i {
  color: #fff;
}

.ktu-a {
  color: #58667e;
}

.ktu-p {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.wrapper-cont-two-Q {
  max-width: 1500px;
  margin: 0 auto;
}

.down-color {
  color: #ea3943;
}

.ktv-wst {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1.3rem;
  padding: 0 1%;
}

.btn {
  width: 55px;
  height: 29px;
  border-radius: 20px;
  background-color: #3861fb;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 3.8%;
  margin: 0 5px;
}

.inner-btn {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: white;
}

.svt-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.svt-btn span {
  color: #58667e;
  font-weight: 600;
}

#switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 29px;
  margin: 0 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 1s;
  border-radius: 34px;
}

.switch input {
  display: none;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 24px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.2s;
  border-radius: 50px;
}

input:checked + .slider {
  background-color: blue;
}

input:checked + .slider::before {
  transform: translateX(25px);
}

.ktv-wst-p h2 {
  font-size: 24px;
  margin-bottom: 0.8rem;
}

.ktv-wst-p p {
  color: #58667e;
  font-weight: 500;
  font-size: 16px;
}

#btn-container-info-on-graph {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 1.4rem;
  max-width: 1330px;
  margin: 1.8% auto;
  min-height: 180px;
}

.first-box {
  width: 444px;
  background-color: red;
  border-radius: 8px;
  min-height: 180px;
}

.diff-box-one {
  position: absolute;
  background-color: #fff;
  z-index: 2;
  top: 0;
  box-shadow: rgba(88, 102, 126, 0.0784313725) 0px 4px 24px;
  padding: 0 1%;
}

.diff-box-two {
  position: absolute;
  background-color: #fff;
  z-index: 3;
  right: 0;
  top: 0;
  box-shadow: rgba(88, 102, 126, 0.0784313725) 0px 4px 24px;
  padding: 0 1%;
}

.diff-box-three {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  left: 0;
  top: 0;
  box-shadow: rgba(88, 102, 126, 0.0784313725) 0px 4px 24px;
  padding: 0 1%;
}

.ktv-epst {
  display: flex;
  align-items: center;
  width: 38%;
  justify-content: space-between;
}

.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
}

.diff-case {
  width: 92%;
}

.diff-case-two {
  width: 43%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.diff-case-two img {
  width: 17%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 5px;
}

.diff-case-three {
  width: 26%;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.diff-box-three img {
  width: 25%;
  -o-object-fit: contain;
     object-fit: contain;
}

.box-header h2 {
  font-size: 14px;
}

.box-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.box-content img {
  width: 16px;
  height: 16px;
  border-radius: 50px;
}

.box-content h2 {
  font-size: 12px;
}

.box-content span {
  font-size: 15px;
  color: #808a9d;
}

.box-content h3 {
  font-size: 12px;
  color: #808a9d;
  letter-spacing: 1px;
}

.box-general-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93%;
  margin: 4% 0;
}

.main-box-content {
  margin-top: 1.5rem;
}

.diff-box-content {
  width: 100%;
}

.up-rate span i {
  color: #16c784;
  margin: 0 4px;
}

.up-rate span {
  color: #16c784;
  display: flex;
  align-items: center;
  justify-content: center;
}

.down-color span i {
  margin: 0 4px;
}

.value-fig a {
  color: #000;
  font-weight: 600;
}

.ktv-epst img {
  width: 30px;
  height: 30px;
}

main {
  width: 100%;
}

.watch-cont p {
  font-size: 12px;
  margin: 0 2px;
  font-weight: 500;
}

.watch-cont i {
  color: #000;
}

.watch-cont {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  margin: 0 3px;
  padding: 5px 3px;
  border-radius: 6px;
}

.first-div-cont {
  display: flex;
  align-items: center;
}

.list-items-ordered li {
  display: inline-block;
  margin: 0 6px;
  padding: 4px 6px;
  border-radius: 6px;
}

.list-items-ordered li:hover {
  background-color: #eff2f5;
}

.list-items-ordered li a {
  color: #58667e;
  font-weight: 500;
  font-size: 12px;
}

.list-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 22px;
  border-bottom: 1px solid #eff2f5;
  background-color: #fff;
}

.tst-ogg p {
  margin: 0 1rem;
}

.list-items-ordered li:first-of-type a {
  color: #3861fb;
  background-color: #f0f6ff;
  padding: 6px 7px;
  font-weight: 600;
}

.list-items-ordered li:first-of-type:hover {
  background-color: transparent;
}

.second-div-cont {
  display: flex;
  align-items: center;
  width: 29%;
  justify-content: space-between;
}

.ket-div {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 0 5px;
}

.ket-div span {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  font-weight: 600;
  border-radius: 6px;
  background-color: #eff2f5;
}

.ket-div span i {
  margin: 0 3px;
}

.ket-div p {
  color: #58667e;
  margin: 0 3px;
}

.diff-ket-div {
  background-color: #eff2f5;
  padding: 5px 5px;
  border-radius: 6px;
}

.diff-ket-div p {
  font-weight: 600;
  color: #000;
}

.diff-ket-div i {
  color: #a6b0c3;
  margin: 0 3px;
}

.diff-ket-divv {
  background-color: #eff2f5;
  padding: 5px 5px;
  border-radius: 6px;
}

.diff-ket-divv i {
  margin: 0 3px;
}

.diff-i {
  background-color: #fff;
  padding: 3px;
  border-radius: 6px;
}

.first-list-table {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
}

.first-list-table i {
  margin-top: 0.6rem;
  margin-left: 11px;
}

#table-inu {
  width: 100%;
  background-color: #fff;
}

th,
tr {
  display: flex;
  align-items: center;
  justify-content: center;
}

tr {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #eff2f5;
  padding: 1.5%;
}

th {
  width: 10%;
  font-weight: 700;
  font-size: 12px;
}

.camp-name {
  width: 15%;
  justify-content: flex-start;
  color: #171924;
  display: flex;
}

.diff-camp-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.diff-camp-name div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.camp-name img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 5px;
}

.last-days {
  width: 12%;
  justify-content: end;
  color: #171924;
}

th h4 {
  font-weight: 700;
  margin-right: 5px;
  color: #171924;
}

th span {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #a6b0c3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-style: italic;
}

.diff-first-list-tle {
  width: 3%;
}

.diff-first-list-tle i {
  margin-top: 0.4rem;
  margin-right: 11px;
}

td h2 {
  font-size: 12px;
}

td div h3 {
  font-size: 12px;
  margin: 0 2px;
  font-weight: 700;
}

td h3 {
  font-size: 9px;
  margin-left: 25px;
  margin-top: 0.5rem;
}

td {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 12px;
  width: 10%;
}

.diff-td {
  display: block;
  justify-content: flex-start;
}

.drop div i {
  color: #ea3943;
  margin-top: 2px;
  margin-right: 5px;
  font-weight: 800;
}

.drop p {
  color: #ea3943;
  font-weight: 800;
}

.up div i {
  margin-top: 12px;
  margin-right: 5px;
  color: #16c784;
  font-weight: 800;
}

.up p {
  color: #16c784;
  font-weight: 800;
}

.name-class p {
  color: #808a9d;
  font-size: 14px;
  margin: 0 5px;
}

.camp-name span {
  margin: 0 3px;
  padding: 5px 5px;
  border-radius: 6px;
  background-color: #f0f6ff;
  color: #3861fb;
}

tr:hover {
  background-color: rgba(207, 214, 228, 0.2);
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 4px 10px;
  text-decoration: none;
  font-weight: 700;
}

.next-pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1%;
  background-color: #fff;
}

.diff-page {
  background-color: #3861fb;
  border-radius: 6px;
  color: #fff !important;
}

.ftng {
  padding: 1%;
  border-bottom: 1px solid #eff2f5;
  width: 100%;
  background-color: #fff;
}

section.diff-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8fafd;
  padding-top: 1.5rem;
  padding-left: 1%;
  padding-right: 1%;
}

.first-section {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.first-section h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.first-section h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.first-section p {
  color: #58667e;
  font-size: 16px;
  margin-bottom: 1.5rem;
}

.button-cont {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.first-section input {
  width: 80%;
  padding: 1%;
  border-radius: 6px;
  border: 1px solid #cfd6e4;
  height: 48px;
  outline-color: transparent;
  margin-right: 3px;
}

.first-section input:hover {
  box-shadow: 3px 2px 8px 2px rgba(56, 97, 251, 0.003);
  outline-color: rgba(56, 97, 251, 0.006);
}

.first-section button {
  background-color: #3861fb;
  border-radius: 6px;
  color: #fff;
  padding: 5px 4px;
  width: 180px;
  height: 48px;
}

footer {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1.5rem;
  background-color: #fff;
}

.main-foot-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  width: 60%;
}

.foot-list h3 {
  margin-bottom: 1.5rem;
}

.foot-list ul li {
  list-style-type: none;
  margin: 0.8rem 0;
}

.foot-list ul li a {
  color: #58667e;
  font-weight: 500;
  font-size: 14px;
}

.general-odogwu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.general-odogwu img {
  width: 20%;
}

.ccpy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.vkjs img {
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.serch-menu {
  display: none;
}

.list-items-cont-dis {
  width: 100%;
  overflow-x: scroll;
}

.ccpy div p {
  color: #58667e;
}

.list-tls-items {
  width: 100%;
  overflow-x: scroll;
}

.bCltOL {
  filter: hue-rotate(85deg) saturate(80%) brightness(0.85);
}

.bad-graph {
  filter: hue-rotate(300deg) saturate(210%) brightness(0.7) contrast(170%);
}

.mmdss {
  position: relative;
  display: block;
  cursor: pointer;
}

.mmdss .tooltiptext {
  visibility: hidden;
  width: 370px;
  background-color: #fff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  right: -110px;
  top: 25px;
  -webkit-box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.5);
}

.mmdss:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext-content p {
  color: #58667e;
}

.tooltiptext-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1% 2%;
}

.tooltiptext-one-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1% 2%;
}

.vtx {
  width: 80%;
  height: 7px;
  background-color: #eff2f5;
  margin: 0.8rem 8px;
  border-radius: 6px;
}

.vtxh {
  width: 100%;
  height: 7px;
  background-color: #eff2f5;
  margin: 0.8rem 0px;
  border-radius: 6px;
}

.vtx-st {
  width: 60%;
  height: 7px;
  background-color: #cfd6e4;
  border-radius: 6px;
}

.vtx-s {
  width: 50%;
  height: 7px;
  background-color: #cfd6e4;
  border-radius: 6px;
}

.kllm {
  text-align: left;
}

.dip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.one-e {
  width: 80%;
}

.two-e, .eight-e {
  width: 30%;
}

.three-e {
  width: 93%;
}

.four-e {
  width: 80%;
}

.five-e {
  width: 5%;
}

.six-e {
  width: 28%;
}

.seven-e {
  width: 78%;
}

.nine-e {
  width: 13%;
}

.ten-e {
  width: 50%;
}

.eleven-e {
  width: 3.1%;
}

/***** M E D I A ******* Q U E R Y *****/
@media screen and (max-width: 1116px) {
  .language-currency {
    display: none;
  }

  .crypto-list-cont-diff ul {
    display: none;
  }

  .crypto-profile {
    display: none;
  }

  .serch-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    margin: 0 10px;
  }

  .serch-menu i:first-of-type {
    margin: 0 10px;
  }

  .crypto-value-detailed {
    min-width: 100rem;
  }

  .cryto-value-container {
    overflow-x: scroll;
  }

  .list-items {
    min-width: 97rem;
  }

  .first-box {
    width: 388px;
  }

  .box-header h2 {
    font-size: 12px;
  }

  .general-odogwu {
    flex-direction: column;
    align-items: baseline;
  }

  .main-foot-list {
    width: 100%;
    flex-wrap: wrap;
  }

  .general-odogwu img {
    width: 31%;
    margin-bottom: 1.3rem;
  }

  .foot-list {
    min-width: 25%;
  }
}
@media screen and (max-width: 992px) {
  .list-items-ordered {
    display: none;
  }

  .tst-ogg {
    display: none;
  }

  .list-items {
    min-width: 100%;
    max-width: 100%;
  }

  .ket-disk {
    display: none;
  }

  .second-div-cont {
    width: 28%;
  }

  .box-general-content {
    width: 78%;
  }

  .button-cont {
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
  }

  .first-section input {
    margin-bottom: 1.5rem;
  }

  .jex-box {
    width: 100%;
  }

  th span {
    display: none;
  }

  .diff-camp-name {
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
  }

  .first-list-table {
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
  }
  .mmds,
  .last-days {
    min-width: 10rem;
  }

  main {
    overflow-x: scroll;
  }
}
@media screen and (max-width: 782px) {
  .btn-container-info-on-graph {
    display: none;
  }

  section.diff-section {
    flex-direction: column;
  }

  .first-section {
    width: 100%;
  }

  .first-section input {
    width: 100%;
  }

  .button-cont {
    width: 100%;
  }

  .first-section button {
    width: 100%;
  }

  .ktv-wst {
    align-items: baseline;
    flex-direction: column;
  }

  .second-div-cont {
    width: 51%;
    justify-content: end;
  }

  .list-items {
    padding: 10px 5px;
  }

  .svt-btn {
    display: none;
  }

  .ktv-wst-p h2 {
    font-size: 20px;
  }

  .ktv-wst-p p {
    margin-bottom: 1.5rem;
    font-size: 14px;
  }
}/*# sourceMappingURL=index.css.map */