h3 {
  font-weight: 600;
  color: #000;
}

p {
  font-weight: 500;
  color: #000;
  font-size: 14px;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: calc(60% + 0.8vmin);
}

body {
  font-family: Proxima Nova;
  margin: 0px;
}

.custom-scrollbar::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

body.modal-overflow {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: inherit;
}

ul,
ol {
  /* list-style-type: none; */
  padding: 0;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
}

nav ul {
  list-style: none;
}

a {
  color: rgb(11, 11, 240);
  cursor: pointer;
  text-decoration: none;
}

label {
  font-weight: normal;
  padding-bottom: 10px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table td,
.table th {
  vertical-align: middle;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  margin: 0;
  font-weight: bold;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  text-transform: none;
  border: none;
  cursor: pointer;
}

img,
video {
  max-width: 100%;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "segoe ui", Roboto,
 Helvetica, Arial, sans-serif;
  background-color: #f8fafd;
}

.header-wapper-container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.cryto-value-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px #eff2f5 solid;
}

.crypto-value-detailed {
  width: 81%;
  padding: 1%;
}

.crypto-value-detailed ul li {
  display: inline-block;
  margin: 0 5px;
}

.crypto-value-detailed ul li span {
  font-size: 12px;
  color: #58667e;
  font-weight: 600;
}

.crypto-value-detailed ul li a {
  font-size: 12px;
}

.language-currency {
  width: 17%;
  padding: 1%;
}

.language-currency ul {
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: space-between;
}

.language-currency ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  font-weight: 600;
  color: #171924;
  padding: 5px 3px;
}

.language-currency ul li img {
  width: 15px;
  margin: 0 3px;
}

.language-currency ul li i {
  margin: 0 5px;
}

.language-currency ul li:hover {
  background-color: #eee;
  border-radius: 5px;
}

.crypto-list-cont-diff {
  display: flex;
  width: 60%;
  align-items: center;
  padding: 0.5%;
}

.crypto-list-cont-diff ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.crypto-list-cont-diff ul li {
  margin: 0 10px;
  list-style-type: none;
  font-weight: 600;
}

.crypto-list-cont-diff ul li a:hover {
  color: #3861fb;
}

.crypto-list-cont-diff ul li a {
  color: #000;
  font-size: 14px;
}

.crypto-profile {
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.crypto-profile img:last-of-type {
  width: 30px;
  height: 30px;
}

.crypto-profile input {
  height: 40px;
  padding: 1%;
  border-color: transparent;
  background-color: #eff2f5;
  border-radius: 5px;
  outline: transparent;
}

.crypto-profile input::-moz-placeholder {
  color: #a6b0c3;
  font-weight: 600;
  margin-left: 20px;
}

.crypto-profile input:-ms-input-placeholder {
  color: #a6b0c3;
  font-weight: 600;
  margin-left: 20px;
}

.crypto-profile input::placeholder {
  color: #a6b0c3;
  font-weight: 600;
  margin-left: 20px;
}

.general-crypto-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eff2f5;
}

.cry-vts {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #a6b0c3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 18px;
}

.cry-vts p {
  color: #fff;
  font-weight: 800;
  transform: translate(0, -0.5rem);
}

.cards-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.card {
  min-width: 20rem;
  margin: 1%;
  position: relative;
}

.card a img {
  width: 100%;
  border-radius: 5px;
}

.card a {
  display: block;
}

.youtube-play {
  width: 68px;
  height: 48px;
  background-color: rgba(234, 57, 67, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 110px;
  cursor: pointer;
}

.youtube-play:hover {
  background-color: rgba(234, 57, 67, 0.9);
}

.youtube-play i {
  color: #fff;
}

.ktu-a {
  color: #58667e;
}

.ktu-p {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.wrapper-cont-two-Q {
  max-width: 1500px;
  margin: 0 auto;
}

.down-color {
  color: #ea3943;
}

.ktv-wst {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1.3rem;
  padding: 0 1%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 40px;
  margin: 0 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 1s;
  border-radius: 34px;
}

.switch input {
  display: none;
}

.slider::before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.2s;
  border-radius: 50px;
}

input:checked + .slider {
  background-color: blue;
}

input:checked + .slider::before {
  transform: translateX(25px);
}

.ktv-wst-p h2 {
  font-size: 24px;
}

.ktv-wst-p p {
  color: #58667e;
  font-weight: 500;
  font-size: 16px;
  line-height: 50%;
}

.btn-container-info-on-graph {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 1.4rem;
  max-width: 1330px;
  margin: 1.8% auto;
  min-height: 180px;
}

.first-box {
  width: 457px;
  background-color: red;
  border-radius: 8px;
  min-height: 180px;
}

.diff-box-one {
  position: absolute;
  background-color: #fff;
  z-index: 2;
  top: 0;
  box-shadow: rgba(88, 102, 126, 0.0784313725) 0px 4px 24px;
  padding: 0 1%;
}

.diff-box-two {
  position: absolute;
  background-color: #fff;
  z-index: 3;
  right: 0;
  top: 0;
  box-shadow: rgba(88, 102, 126, 0.0784313725) 0px 4px 24px;
  padding: 0 1%;
}

.diff-box-three {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  left: 0;
  top: 0;
  box-shadow: rgba(88, 102, 126, 0.0784313725) 0px 4px 24px;
  padding: 0 1%;
}

.ktv-epst {
  display: flex;
  align-items: center;
  width: 38%;
  justify-content: space-between;
}

.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
}

.diff-case {
  width: 92%;
}

.diff-case-two {
  width: 43%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.diff-case-two img {
  width: 17%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 5px;
}

.diff-case-three {
  width: 26%;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.diff-box-three img {
  width: 25%;
  -o-object-fit: contain;
     object-fit: contain;
}

.box-header h2 {
  font-size: 14px;
}

.box-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.box-content img {
  width: 16px;
  height: 16px;
  border-radius: 50px;
}

.box-content h2 {
  font-size: 12px;
}

.box-content span {
  font-size: 15px;
  color: #808a9d;
}

.box-content h3 {
  font-size: 12px;
  color: #808a9d;
  letter-spacing: 1px;
}

.box-general-content {
  display: flex;
<<<<<<< HEAD
  align-items: center;
  justify-content: space-between;
  width: 95%;
=======
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 93%;
>>>>>>> 430bdbc64a2471c6db803d85a081349d5c866ef9
  margin: 4% 0;
}

.main-box-content {
  margin-top: 1.5rem;
}

.diff-box-content {
  width: 100%;
}

.up-rate span i {
  color: #16c784;
  margin: 0 4px;
}

.up-rate span {
  color: #16c784;
  display: flex;
  align-items: center;
  justify-content: center;
}

.down-color span i {
  margin: 0 4px;
}

.value-fig a {
  color: #000;
  font-weight: 600;
}

.ktv-epst img {
  width: 30px;
  height: 30px;
<<<<<<< HEAD
}/*# sourceMappingURL=index.css.map */
=======
}

main {
  margin-top: 2rem;
  width: 100%;
}

.watch-cont p {
  font-size: 12px;
  margin: 0 2px;
  font-weight: 500;
}

.watch-cont i {
  color: #000;
}

.watch-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eff2f5;
  margin: 0 3px;
  padding: 5px 3px;
  border-radius: 6px;
}

.first-div-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-items-ordered li {
  display: inline-block;
  margin: 0 6px;
  padding: 4px 3px;
  border-radius: 6px;
}

.list-items-ordered li:hover {
  background-color: #eff2f5;
}

.list-items-ordered li a {
  color: #58667e;
  font-weight: 500;
  font-size: 12px;
}

.list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tst-ogg p {
  margin: 0 1rem;
}

.list-items-ordered li:first-of-type a {
  color: #3861fb;
  background-color: #f0f6ff;
  padding: 6px 7px;
  font-weight: 600;
}

.list-items-ordered li:first-of-type:hover {
  background-color: transparen;
}

.second-div-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ket-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px;
  padding: 0 5px;
}

.ket-div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 5px;
  font-weight: 600;
  border-radius: 6px;
  background-color: #eff2f5;
}

.ket-div span i {
  margin: 0 3px;
}

.ket-div p {
  color: #58667e;
  margin: 0 3px;
}

.diff-ket-div {
  background-color: #eff2f5;
  padding: 5px 5px;
  border-radius: 6px;
}

.diff-ket-div p {
  font-weight: 600;
  color: #000;
}

.diff-ket-div i {
  color: #a6b0c3;
  margin: 0 3px;
}

.diff-ket-divv {
  background-color: #eff2f5;
  padding: 5px 5px;
  border-radius: 6px;
}

.diff-ket-divv i {
  margin: 0 3px;
}

.diff-i {
  background-color: #fff;
  padding: 3px;
  border-radius: 6px;
}
/*# sourceMappingURL=index.css.map */
>>>>>>> 430bdbc64a2471c6db803d85a081349d5c866ef9
