$color-neutral-one:#f8fafd;
$color-neutral-two:#eff2f5;
$color-neutral-three:#cfd6e4;
$color-neutral-four:#a6b0c3;
$color-neutral-five:#808a9d;
$color-neutral-six:#58667e;
$background-color:#fff;
$color-text-one:#222531;
$color-text-two:#ea3943;
$color-text-three:#16c784;
$theme-blue:#3861fb;
$theme-blue-two: #3861fb;
$color-text-three:#000;
$color-text-four:#171924;
$box-shadow:#58667e14;